/* Style avatar on about page */
.quarto-about-trestles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-entity {
  text-align: center;
}

.about-image {
  border-radius: 50% !important;
  width: 15em !important;
}


/* Remove title on about page*/
.about-entity > #title-block-header {
  display: none;
}

/* Remove title name */
.navbar-title {
  display: none;
}

/* Make some space on the title bar after we removed the title name */
.navbar-logo {
    margin-right: 3em;
}

/* Navbar padding */
.navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
}